<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yesmen.cs2340.shoppingwithfriends" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginPage"
            android:label="Shopping With Friends" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationPage"
            android:label="Registration" >
        </activity>
        <activity
            android:name=".Homepage"
            android:label="Homepage" >
        </activity>
        <activity
            android:name=".AddFriendPage"
            android:label="Add Friend" >
        </activity>
        <activity
            android:name=".ViewFriends"
            android:label="View Friends"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".DetailedFriend"
            android:label="@string/title_activity_detailed_friend" >
        </activity>

        <activity
            android:name=".MyProfilePage"
            android:label="MY PRI" >
        </activity>

        <activity
            android:name=".AddWishList"
            android:label="Wishlist" >
        </activity>

    </application>

</manifest>
